/* スマホ用のスタイル */
@media screen and (max-width: 480px) {
.header-inner,
.footer-inner{
  padding: 0 20px;
}

.header-right,
.footer-right{
  display: none;
}
.btn,
.menu{
  display: block;
}
.top-txt{
  font-size: 20px;
  line-height: 3px;
}
.title{
  font-size: 24px;
  padding: 30px 0 15px 0 ;
}
.work-item{
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  text-align: center;
}
.work-item.reverse {
  flex-direction: column;
}
.work-img{
  width: 100%;
  order: 1;
}
.work-1 .work-txt,
.work-2 .work-txt,
.work-3 .work-txt,
.work-4 .work-txt,
.work-5 .work-txt {
  width: 100%;
  order: 2;
  align-items: center;
  text-align: center;
}
.work-title,
.low-title,
.list-title{
  font-weight: 300;
  font-size: 20px;
}
.detail{
  font-size: 10px;
}
.view-more,
.back-site{
  min-width: auto;
  width: 50%;
  padding: 10px 20px;
  font-size: 15px;
}
.skill-wrapper,
.policy-wrapper{
  padding: 50px ;
}
.skill-title{
  font-size: 18px;
  margin-left: 0;
  padding-bottom: 30px;
    text-align: center;
}
.skill-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.skill-icon{
  justify-content: center;
}
.skill-icon img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
.skill-txt,
.point-txt,
.hobby-txt{
  width: 70%;
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}
.policy-txt{
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}
.about-wrapper{
  flex-direction: column;
  align-items: center;
}
.profile-icon{
  padding-left: 0px;
  margin: 0px;
}
.profile-icon img{
  width: 150px;
  object-fit: contain;
}
.about-right{
  text-align: center;
  margin-right: 0px;
}
.name{
  font-size: 26px;
  margin-bottom: 20px;
}
.sub-name{
  font-size: 20px;
  line-height: 5px;
  margin-top: 0;
}
.about-born{
  font-size: 18px;
  padding-top: 25px;
}
.about-txt{
  font-size: 15px;
  line-height: 2;
  margin: 0 50px;
}
.sns-icon{
  justify-content: center;
}
.about-born{
  font-size: 15px;
}
.sns-icon img{
  width: 50px;
}
.about-view-more{
    text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
}
.copyright{
  font-size: 10px;
  padding: 20px;
}
.sent{
  height: auto;
  font-size: 15px;
}
/*プロフィールHTML*/
.profile-about-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  align-items:center ;
}
.slogan{
  font-size: 24px;
}
.policy-flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}
.point{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-start;
}
.point-txt{
  padding: 0px 0px 20px 0px ;
}
.policy-icon {
  text-align: center;
}
.policy-icon img{
  width: 50%;
}
.point-title {
  font-size: 20px;
}
.hobby-txt{
  margin-left: 0px;
}
.hobby-wrapper{
  padding: 30px 10px;
}
.hobby-flex{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}
.hobby-flex2{
  display: flex;
  width: 100%;
  justify-content: center;
}
.swiper-slide {
    margin: 0 auto;
  }
  .swiper-slide img {
    width: 70%;
    margin: 0 auto;
  }
.photo-slider .swiper-button-prev,
.photo-slider .swiper-button-next,
.draw-slider .swiper-button-prev,
.draw-slider .swiper-button-next {
  color: #4A4846;
  width: 20px;
  height: 20px;
}
/*詳細のHTML*/
.work-txt{
  width: 100%;
}
.work-title{
  margin: 0 auto;
}
.feature-flex{
  flex-direction: column;
  align-items: center;
}
.feature-txt{
  margin-left: 0px;
  line-height: 1.0;
  font-size: 15px;
  max-width: 70%;
}
.site-preview {
    max-width: 280px;  /* 画面の7〜8割程度に */
  }
.img-chocolate{
  width: 50%;
}
.img-IT{
  width: 55%;
}
.banner-flex{
  width: 50%;
}
.process-wrapper,
.point-wrapper{
  width: 70%;
  margin: 0 auto;
}
.list-txt{
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}
.point-color img{
  width: 70%;
}
.review-txt{
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
  padding: 50px 80px;
}

}



/* タブレット（769px〜1024px） */
@media screen and (max-width: 1024px) and (min-width: 481px){
.header-inner,
.footer-inner{
  padding: 10px 20px;
}
  .header-right a,
  .footer-inner a{
    font-size: 14px; 
    white-space: nowrap; 
  }

.top-txt{
  font-size: 40px;
  line-height: 10px;
}
.title{
  font-size: 30px;
}
.work-item{
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 50px; 
}
.work-title{
  font-weight: 300;
  font-size: 25px;
}
.detail{
  font-size: 15px;
}
.view-more,
.back-site{
  padding: 13px 40px;
  font-size: 18px;
}
.work-img{
  width: 300px;
  object-fit: contain;
}
.skill-wrapper,
.policy-wrapper{
  padding: 50px ;
}
.skill-title{
  font-size: 30px;
  margin-left: 0;
  padding-bottom: 25px;
  text-align: center;
}
.skill-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.skill-icon{
  justify-content: center;
}
.skill-icon img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
.skill-txt,
.policy-txt,
.point-txt,
.hobby-txt{
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}
.about-wrapper{
  flex-direction: column;
  align-items: center;
}
.profile-icon{
  padding-left: 0px;
  margin: 0px;
}
.profile-icon img{
  width: 200px;
  object-fit: contain;
}
.about-right{
  text-align: center;
  margin-right: 0px;
}
.name{
  font-size: 26px;
  margin-bottom: 20px;
}
.sub-name{
  font-size: 20px;
  line-height: 5px;
  margin-top: 0;
}
.about-born{
  font-size: 18px;
  padding-top: 25px;
}
.about-txt{
  font-size: 15px;
  line-height: 2;
  margin: 0 50px;
}
.sns-icon{
  justify-content: center;
}
.about-born{
  font-size: 15px;
}
.sns-icon img{
  width: 50px;
}
.about-view-more{
    text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
}
.sent{
  height: 50px;
  width: 180px;
  font-size: 18px;
}
/*プロフィールHTML*/
.profile-about-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  align-items:center ;
}
.slogan{
  font-size: 24px;
}
.policy-flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}
.point{
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-start;
}
.point-txt{
  padding: 0px 0px 20px 0px ;
}
.policy-icon {
  text-align: center;
}
.policy-icon img{
  width: 50%;
}
.point-title {
  font-size: 20px;
}
.hobby-flex2{
  width: 100%;
}
.hobby-flex{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
}
.hobby-txt {
  margin-left: 0px;
  width: 100%;
}
.swiper-slide {
    margin: 0 auto;
  }
.copyright{
  padding:0px 20px;
}
.feature-flex{
  flex-direction: column;
  align-items: center;
}
}