/* スマホ用のスタイル */
@media screen and (max-width: 768px) {
header{
    padding: none;
}
.header-inner,
.footer-inner{
  padding: 0 20px;
}
.header-right{
    display: none;
}
.logo{
  width: 120px;
  object-fit: contain;
}
.btn,
.menu{
  display: block;
}
.top-txt{
  top: 45%;
  font-size: 30px;
}
.title{
  font-size: 30px;
}
.work-item{
  padding: 100px 50px;
}
.work-img{
  width: 200px;
  object-fit: contain;
}
.skill-title{
  font-size: 26px;
  text-align: center;
}
.skill-flex{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.skill-icon{
  justify-content: center;
}
.skill-icon img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
.skill-txt,
.policy-txt,
.point-txt,
.hobby-txt{
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}
.about-wrapper{
  flex-direction: column;
  align-items: center;
}
.profile-icon{
  padding-left: 0px;
}
.profile-icon img{
  width: 200px;
  object-fit: contain;
}
.about-right{
  text-align: center;
  margin-right: 0px;
}

.name{
  font-size: 26px;
  margin-bottom: 20px;
}
.sub-name{
  font-size: 20px;
  line-height: 5px;
  margin-top: 0;
}
.about-born{
  font-size: 18px;
  padding-top: 25px;
}
.about-txt{
  font-size: 15px;
  line-height: 2;
  margin: 0 50px;
}
.sns-icon{
  justify-content: center;
}
.work-item{
  padding: 100px 90px;
  display: flex;
}
.work-title{
  color: #fff;
  font-weight: 300;
  font-size: 24px;
}
.detail{
  font-size: 10px;
}
.view-more,
.back-site{
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 15px;
}
.skill-wrapper,
.policy-wrapper{
  padding: 50px ;
}
.skill-title{
  font-size: 30px;
  margin-left: 0;
}
.about-born{
  font-size: 15px;
}
.sns-icon img{
  width: 50px;
}
.about-view-more{
    text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
}
.sent{
  height: 60px;
  width: 230px;
  font-size: 20px;
}
/*プロフィールHTML*/
.profile-about-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.slogan{
  font-size: 24px;
}
.policy-flex{
  gap: 50px;
}
.point{
  padding: 0 50px;
}
}




/* タブレット（769px〜1024px） */
@media screen and (max-width: 1024px) {

}